@import breakpoints

footer
  background: #2c7f69
  padding: 20px 25px
  hr
    border: 1px solid #376
    margin: 30px 0
  ul
    padding: 0 10px
    li
      margin: 10px 0
      h5
        padding-left: 10px
      a
        color: #ddd
  .footer-donate
    padding: 20px
    display: flex
    align-items: center
    justify-content: center
    button
      border: none
      background: #043
      font-size: 24px
      height: 60px
      width: 90%
      border-radius: 10px
      color: white
  @include xl
    display: flex
    padding: 0
    hr
      display: none
    div
      border-radius: 5px
      background: #2f8970
      flex: auto
      margin: 10px 3px
      padding: 10px 20px
    .footer-donate
      button
        height: auto
        width: auto
        padding: 15px 30px
