@import nav, footer, main, panel, breakpoints, contact-panel
@import mixins/billboard, mixins/title-billboard

body
  margin: 0
  padding: 0
  background: #f5a0a0
  font-family: Helvetica

p
  font-size: 20px
  line-height: 2em
  padding: 5px 10px

ul
  list-style-type: none
a
  text-decoration: none
  color: #24f
  &:hover
    text-decoration: underline
button
  border: none
  cursor: pointer

h1
  font-size: 32px
  @include lg
    font-size: 40px
    @include xl
      font-size: 48px

h2
  font-size: 24px
  @include lg
    font-size: 28px
    @include xl
      font-size: 32px

h3
  font-size: 24px

h4
  font-size: 20px

h5
  color: #111
  font-size: 16px

.billboard
  @include billboard
.title-billboard
  @include title-billboard

div.container
  padding: 20px
  @include lg
    padding: 30px 50px
div.inline-container
  padding: 30px 50px
  display: flex
  flex-direction: column
  align-items: center
  @include lg
    align-items: flex-start
  @include xl
    justify-content: space-between
    flex-direction: row
