nav
  img.nav-logo(src="/images/fairmingos.png")
  button.nav-collapse-btn &#8801;
  ul.nav-collapsable
    li
      a(href="/") Home
    li
      a(href="/about") About
    li
      a(href="/contact") Contact
