extends extends/layout
block nav
  include layout/nav
  +nav("About")
block main
  include about/about-title
  hr

  include mixins/panel

  +panel("Where Did We Start?", 'images/fair_school.jpg')
    p
      | We are a high school league robotics team at the FAIR School Downtown
