extends extends/layout
block append styles
  link(rel="stylesheet" href="styles/contact.css")
block nav
  include layout/nav
  +nav("Contact")
block main
  include contact/contact-title

  include mixins/panel

  include contact/contact-panel
