extends extends/layout
block append styles
  link(rel="stylesheet" href="styles/home.css")
block nav
  include layout/nav
  +nav("Home")
block main
  include home/home-title
  hr
  include home/bluealliance
  hr
  include home/frc
  hr

  div.panel
    h1 What is FIRST?
    hr
    p 
      | FIRST is an organization committed to introducing students to
      | engineering, to better shape their outcomes in STEM careers
    p
      | FIRST is 30 years old, and the most developed robotics competition 
      | for students
  hr
  div.panel
    h1 FIRST's Impact
    hr
    p
      | Over 75% of FIRST alumni are in a STEM field either as a student or as 
      | a professional
    p
      | 570,000 students from 100+ countries 
    p
      | 90% more FIRST students take a more challenging math or science class
      | than their counterparts
