extends extends/layout
block append styles
  link(rel="stylesheet" href="styles/home.css")
block nav
  include layout/nav
  +nav("Home")
block main
  include home/home-title
  hr
  include home/bluealliance
