div.billboard
  a(href="https://www.firstinspires.org/robotics/frc")
    img(src="images/frc_logo.jpg")
  div.title-text
    h1 FIRST Robotics Competition
    hr
    h2 Check out the 
      a(href="https://www.firstinspires.org/robotics/frc") FIRST website 
      | to learn more about the competition!
