nav {
  display: flex;
  flex-wrap: wrap;
  background: #1c6f59;
  align-items: center;
}
nav img {
  display: inline-block;
  width: 250px;
  padding-left: 5px;
}
nav button {
  display: inline-block;
  background: none;
  margin-left: auto;
  margin-right: 30px;
  padding: 0;
  float: right;
  font-size: 44px;
  outline: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
nav ul {
  background: #489682;
  margin: 0;
  padding: 15px;
  width: 100%;
}
nav ul li {
  margin: 15px;
}
nav ul li a {
  font-size: 28px;
  color: white;
}
nav ul li a.active {
  font-weight: 700;
}
@media (min-width: 720px) {
  nav {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
  nav img {
    width: 300px;
  }
  nav button {
    display: none;
  }
  nav ul {
    margin-left: 20px;
    background: none;
  }
  nav ul li {
    display: inline-block;
    margin: 0 15px;
  }
}

footer {
  background: #2c7f69;
  padding: 20px 25px;
}
footer hr {
  border: 1px solid #376;
  margin: 30px 0;
}
footer ul {
  padding: 0 10px;
}
footer ul li {
  margin: 10px 0;
}
footer ul li h4.contact-text {
  padding-left: 10px;
  color: #ddd;
}
footer ul li a {
  color: #ddd;
}
footer .footer-donate {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .footer-donate a {
  text-rendering: auto;
  text-align: center;
  line-height: 60px;
  padding: auto;
  background: #043;
  font-size: 24px;
  height: 60px;
  width: 80vw;
  border-radius: 10px;
  color: white;
}
@media (min-width: 1080px) {
  footer {
    display: flex;
    padding: 0;
  }
  footer hr {
    display: none;
  }
  footer div {
    border-radius: 5px;
    background: #2f8970;
    flex: auto;
    margin: 10px 3px;
    padding: 10px 20px;
  }
  footer .footer-donate a {
    line-height: 1em;
    height: auto;
    width: auto;
    padding: 15px 30px;
  }
}

main {
  background: white;
  margin: 0 4%;
  padding: 15px;
  padding-bottom: 50px;
  min-height: 70vh;
}

div.panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div.panel img.panel-img {
  width: 300px;
  margin: 20px;
  margin-bottom: 40px;
}
div.panel div.panel-body {
  display: flex;
  flex-direction: column;
  padding: 5px 25px;
  border-radius: 5px;
  background: #eee;
}
div.panel div.panel-body hr {
  margin: 0;
}
@media (min-width: 720px) {
  div.panel {
    flex-direction: row;
    justify-content: left;
  }
  div.panel img.panel-img {
    margin: 0 30px;
  }
  div.panel div.panel-body {
    padding: 5px 50px;
    width: 100%;
  }
}

body {
  margin: 0;
  padding: 0;
  background: #f5a0a0;
  font-family: Helvetica;
}

p {
  font-size: 20px;
  line-height: 2em;
  padding: 5px 10px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #24f;
}
a:hover {
  text-decoration: underline;
}

button {
  border: none;
  cursor: pointer;
}

h1 {
  font-size: 32px;
}
@media (min-width: 720px) {
  h1 {
    font-size: 40px;
  }
}
@media (min-width: 720px) and (min-width: 1080px) {
  h1 {
    font-size: 48px;
  }
}

h2 {
  font-size: 24px;
}
@media (min-width: 720px) {
  h2 {
    font-size: 28px;
  }
}
@media (min-width: 720px) and (min-width: 1080px) {
  h2 {
    font-size: 32px;
  }
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  color: #111;
  font-size: 16px;
}

.billboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 20px;
}
.billboard img {
  width: 250px;
  margin: 20px;
}
.billboard div.title-text {
  text-align: center;
  border-radius: 20px;
  background: #ddd;
  width: 80%;
  padding: 0 50px;
}
.billboard div.title-text h2 {
  color: #222;
}
@media (min-width: 1080px) {
  .billboard {
    flex-direction: row;
    margin-top: 0;
  }
  .billboard div.title-text {
    width: 100%;
    text-align: left;
  }
}

.title-billboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  background: #ddd;
  margin-top: 0;
}
.title-billboard img {
  width: 250px;
  margin: 20px;
}
.title-billboard div.title-text {
  text-align: center;
  border-radius: 20px;
  background: #ddd;
  width: 80%;
  padding: 0 50px;
}
.title-billboard div.title-text h2 {
  color: #222;
}
@media (min-width: 1080px) {
  .title-billboard {
    flex-direction: row;
    margin-top: 0;
  }
  .title-billboard div.title-text {
    width: 100%;
    text-align: left;
  }
}
.title-billboard img {
  width: 400px;
  margin: 0;
}
.title-billboard div.title-text {
  background: white;
  padding: 50px;
  width: 70%;
}
@media (min-width: 1080px) {
  .title-billboard div.title-text {
    width: 100%;
    padding: 100px;
  }
}

div.container {
  padding: 20px;
}
@media (min-width: 720px) {
  div.container {
    padding: 30px 50px;
  }
}

div.inline-container {
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 720px) {
  div.inline-container {
    align-items: flex-start;
  }
}
@media (min-width: 1080px) {
  div.inline-container {
    justify-content: space-between;
    flex-direction: row;
  }
}

/*# sourceMappingURL=index.css.map */
