div #donate-btn {
    border-radius: 5px;
    border: none;
    background: #c22;
    box-shadow: 0 2px 8px;
}

div #donate-btn a {
    color: #fff;
    font-size: 20px;
}

#navbar-title {
    color: #f33;
    font-weight: bold;
}
#navbar-subtitle {
    color: #f55;
    font-weight: bolder;
}

nav .nav-title-container {
    background: #444;
    border-radius: 10px;
}
nav .nav-title-container:hover {
    background: #555;
}

nav .navbar-toggler {
    border: none;
}
