mixin nav(title)
  nav
    a(href="/") 
      img(src="images/fairmingosheader1.png")
    button#nav-collapse-btn &#8801;
    ul#nav-collapsable
      li
        if(title == "Home")
          a(href="/").active Home
        else
          a(href="/") Home
      li
        if(title == "About")
          a(href="about").active About
        else
          a(href="about") About
      li
        if(title == "Contact")
          a(href="contact").active Contact
        else
          a(href="contact") Contact
