mixin layout(title)
  html
    head
      title= title
      link(rel="stylesheet" href="styles/index.css")
    body
      include ../includes/nav.pug
      +nav(title)
      main
        block
      include ../includes/footer.pug
      script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
      script(src="/scripts/collapse.js")
