html
  head
    block title
      title Blank Layout
    link(rel="stylesheet" href="styles/index.css")
  body
    include ../includes/nav.pug
    main
      block main
    include ../includes/footer.pug
