html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= title
    link(rel="icon" href="images/favicon.png")
    block styles
      link(rel="stylesheet" href="styles/index.css")
      link(rel="stylesheet" href="styles/layout.css")
  body
    block nav
    main
      block main
    include ../layout/footer.pug
    block scripts
      script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
      script(src="scripts/breakpoints.js")
      script(src="scripts/collapse.js")
